<div class="jumbotron">
    <h1>Practica WebApi</h1>
    <p class="lead">Ejercicio de practica de WebApi</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Shippers</h2>
        <p>Ver los Shippers</p>
        <p>@Html.ActionLink("Ver", "Index", "Help", new { area = "" }, null) &raquo;</p>
    </div>
    <div class="col-md-4">
        <h2>API Publica:</h2>
        <h3>Jsonplaceholder</h3>
        <ul>
            <li>User Id: @Model.userId </li>
            <li>ID: @Model.id </li>
            <li>Title: @Model.title </li>
            <li>Completed: @Model.completed </li>
        </ul>
    </div>
</div>
